{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.11.2"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "istanbul",
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [ "Error", "Array" ]
      }
    ]
  ]
}
